<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <h1>Add a New Course</h1>
            <form action="/add" method="POST">
                {% csrf_token %}
                <label class="form-label" for="title">Name:</label>
                <input class="form-control" type="text" name="title">
                <label class="form-label" for="description">Description:</label>
                <textarea class="form-control" name="description" cols="30" rows="10"></textarea>
                <input class="btn btn-primary" type="submit" name="submit" value="Add">
            </form>
        </div>
        <div class="row">
            <table class="table table-dark">
                <tr>
                    <th>Course Name</th>
                    <th>Description</th>
                    <th>Date Added</th>
                    <th>Actions</th>
                </tr>
                {% for course in all_courses %}
                <tr>
                    <td>{{ course.title }}</td>
                    <td>{{ course.description }}</td>
                    <td>{{ course.created_at|date:"M d, Y g:i A" }}</td>
                    <td><a href="/remove/{{ course.id }}">remove</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>
</html>